# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg
*.egg-info/
dist/
build/
.eggs/
.venv/


# Django
db.sqlite3
media/
staticfiles/
*.log

# Virtual environment
venv/
.env
.env.*

# IDEs and editors
.vscode/
.idea/
*.swp
*.swo

# OS files
.DS_Store
Thumbs.db

# Node (if frontend uses it)
frontend/node_modules/
frontend/build/
frontend/dist/

# Coverage and testing
htmlcov/
.coverage
.cache/
.pytest_cache/

# Migrations cache
*/migrations/__pycache__/
*/migrations/*

Plan.md

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

.env
.env.*
.env.local
.env.development.local
.env.test.local
.env.production.local
.env.development
.env.test
.env.production
src/stubs/*
